.todo-item {
  font-size: 18px;
  padding: 10px;
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: center;

  &.complete {
    text-decoration: line-through;
  }

  .todo-item--input {
    width: 100% !important;
  }

  &.todo-item--container {
    border-bottom: 1px solid #000;

    &:hover {
      background: #e3e3e3;
    }

    &:last-child{
      border-bottom: none;
    }
  }
}

.todo-container {
  margin-top: 30px;
  border: 1px solid #000;
  width: 100%;
}