.todo-item {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  &.complete {
    text-decoration: line-through;
  }

  .actions {
    display: flex;
    margin-left: 12px;
  }

  .edit-container {
    width: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;

    .react-datepicker-wrapper {
      flex: 1;
      input {
        width: 100%;
      }
    }

    input {
      flex: 1;
    }
  }

  &.todo-item--container {
    border-bottom: 2px solid #0088fe;
    &:hover {
      background: #e3e3e3;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.todo-container {
  margin-top: 10px;
  border: 2px solid #0088fe;
  width: 100%;
}
