.filter-container {
  display: flex;
  align-items: stretch;
  input {
    width: 18px;
    height: 18px;
  }
}

.todo-list {
  width: 100%;
  max-width: 600px;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.15s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 0.15s ease-in;
}
