body {
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.App {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-section {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 3;
  }
  .control-bar {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 20px 0;
  }
  .react-datepicker__input-container {
    height: 100%;
    input {
      height: 100%;
      box-sizing: border-box;
      width: 100px;
    }
  }
}
