.App {
  padding: 20px;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 500px;

  input[type=text],
  input[type=date] {
    height: 38px;
    width: 400px;
  }

  input + .btn--default {
    margin-left: 10px;
  }
}
